@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	max-height: 100vh;
	font-family: 'Poppins', sans-serif;
	
}

.container {
margin: -20px;

}

#navbar {
	background-color: #be3144;
	height: 70px;
	margin: 0;
}
#navbar a {
	color: white;
	text-decoration: none;
}
#navbar ul {
	text-align: right;
	padding-right: 50px;
	padding-top: 20px;
}
li {
	display: inline-block;
	color: white;
	text-align: right;
	padding-left: 30px;
}

.bio{
	height: 500px;
	background-color: #27282a;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: -10px;
	padding-bottom: 45px;
}

h1{
	margin-bottom: -30px;
	color: white;
	font-size: 72px;
	/* padding: 200px 0px 50px 0px; */
}

.bio p{
	font-style: italic;
	color: #be3144;
	font-weight: 300;
	font-size: 20px;
}

#projects{
	max-width: 640px;
	text-align: center;
	padding: 10rem 2rem;
	
}	

#projects h1{
	
	color: #27282a;
	font-size: 50px;
	font-style: underline;
}